body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,106,1) 40%, rgba(0,212,255,1) 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 5em;
    padding-left: 5em;
    padding-right: 5em;
    padding: 5em;
}

.fondoBlanco{
    background-color: blueviolet;
    
}

.fondoAzul{
    background-color: violet;
    border-radius: 10px;
}

.fondoNegro{
    background-color: black;
}

.imagen{
    width: 150px;
    padding: 1em;
}

.texto1{
    text-align: center;
    font-size: 3em;
    color: orange;
}

.texto2{
    font-size: 1em;
    color: white;
    text-align: justify;
}

.separacion{
    padding: 1em;
}

.texto3{
    text-align: center;
    font-family: 'FuenteYeni';
    font-size: 3em;

}

.borde{
    border: 10px solid blueviolet;
    border-radius: 10px;
    
}

.bordeAzul{
    border: 10px solid deepskyblue;
    border-radius: 10px ;
}

.fondoNegro{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 10px;
    margin-top: 0px;
}
@font-face{
    font-family: FuenteYeni;
    src: url(Fuentes/Mister\ Grape\ -\ Personal\ Use.otf);
}